@import './base.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  height: 90vh;
  background:linear-gradient(rgba(81, 204, 234, 0.4), rgba(2, 162, 249, 0.4));
}

.banner h1 {
  font-size: 30px;
}